name: Gitleaks

on: [push,pull_request]

permissions: read-all

jobs:
  gitleaks:
    runs-on: ubuntu-24.04
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v1
      with:
        egress-policy: audit

    - name: Checkout Code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v3
      with:
        # Full git history is needed to get a proper list of changed files within `super-linter`
        fetch-depth: 0

    - name: gitleaks-action
      uses: zricethezav/gitleaks-action@ff98106e4c7b2bc287b24eaf42907196329070c7 # master
