name: Gitleaks

on: [push,pull_request]

permissions: read-all

jobs:
  gitleaks:
    runs-on: ubuntu-24.04
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v1
      with:
        egress-policy: audit

    - name: Checkout Code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v3
      with:
        # Full git history is needed to get a proper list of changed files within `super-linter`
        fetch-depth: 0

    - name: gitleaks-action
      uses: zricethezav/gitleaks-action@ff98106e4c7b2bc287b24eaf42907196329070c7 # master
