name: Gitleaks

on: [push,pull_request]

permissions: read-all

jobs:
  gitleaks:
    runs-on: ubuntu-24.04
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v1
      with:
        egress-policy: audit

    - name: Checkout Code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v3
      with:
        # Full git history is needed to get a proper list of changed files within `super-linter`
        fetch-depth: 0

    - name: gitleaks-action
      uses: zricethezav/gitleaks-action@ff98106e4c7b2bc287b24eaf42907196329070c7 # master
